<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskManager.Settings>
            <setting name="SavedUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginAttempts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LockoutEndTime" serializeAs="String">
                <value />
            </setting>
        </TaskManager.Settings>
    </userSettings>
</configuration>